.redes-sociais{
    width: 30px;
}
footer{
    position:absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
}
body{
    background-color: rgb(240, 230, 140);
    background-image: url(img/paes\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bem-vindo-inicial{
    font-size: 20px;
    font-weight: bold;
}

.pao-um {
width: 350px;

}
.brioche {
width: 350px;
}
.cinnamon {
width: 350px;
}

.croissant{
width: 350px;
}
.pao-chocolate{
width: 350px;
}