*{
    margin: 0 a;
    padding: 0;
}

#page-flex-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    background-color: mediumvioletred;
    height: 80px;
    display: flex;
    justify-content:space-between;
    padding: 0 60px;
    align-items: center;
    /* text-align: center; */
    
}

main{
   background-color: #fff;
   flex-grow: 1;
   display: flex;
   margin: 0 auto;
   
   
   
} 

#m-lateral{
    /* display: flex; */
    background-color: #f2d0e0;
    /* width: 500px; */
    margin: 0;
    padding: 80px;
    text-align: left;
    
}

#m-princ{
    display: flex;
    text-align: center;
    margin: 10px 15px;
}

.principal{
margin: 0 auto;
padding: 10px;
}

#footer{
    background-color: mediumvioletred;
    height: 70px;
    text-align: center;
}